/* This file contains the styles for the FoodList component */
/* src/components/FoodList/FoodList.module.css */

.container {
  padding: 1rem;
  font-family: sans-serif;
}

.heading {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.list {
  list-style: none;
  padding: 0;
}

.ListEntry {
  display: flex;  /* Use flexbox for layout */
  flex-direction: row; /* Align items in a row */
  flex-wrap: wrap; /* Allow items to wrap */
  gap: 1rem; /* Add spacing between items */
  background-color: #fff; /* White background for list items */
  border-radius: 0.5rem; /* Rounded corners */
  justify-content: space-between; /* Space out the items */
  align-items: center; /* Center items vertically */
  padding: 0.5rem 0; /* Add padding for spacing */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}
.ListEntry:hover {
  background-color: #89958e; /* Change background color on hover */
  cursor: context-menu;  /* Change cursor to pointer */
  box-shadow: 0 4px 6px -1px rgba(173, 196, 173, 0.445), 0 2px 4px -2px rgba(173, 196, 173, 0.445); /* Subtle shadow for depth */
   
}
.ListEntry:hover .item {
  color: #007bff;
}


.item {
  margin-bottom: 0.5rem;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}

.item strong {
  color: #007bff;
}
