.container {
  justify-content: center;
  padding: 1rem;
  display: flex;
  place-items: center;
  flex-direction: row;
}

.searchHeader {
  display: grid;
  place-items: center;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  align-items: center;
  font-weight: bold;
  color: #2f855a;
  text-shadow: -1px -1px 0 #61dafb, 1px -1px 0 #61dafb, -1px 1px 0 #61dafb,
    1px 1px 0 #61dafb;
}

.searchInput {
  width: 100%;
  max-width: 600px;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.searchInput:focus {
  outline: none;
  border-color: #61dafb;
}

.searchButton {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #2f855a;
  color: white;
  border: none;
  border-radius: 4rem;
  cursor: pointer;
}


.resultsList {
  margin-top: 1rem;
}