/* src/components/Background/Background.module.css */
/* This file contains the styles for the Background component */
/* This component is used to create a background for the application */

.LogoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the viewport */
    height: 100vh; /* Full height of the viewport */
    z-index: -1;
    opacity: 0.5;

    background-color: #89958e;
    background-image: url("../../../public/NutriByteLogo.png");
    background-size: contain; /* Ensures the image covers the entire container */
    background-repeat: no-repeat;
    background-position: center;
}