.header {
    background: #3D4A4F;
    padding: 0;
    border-bottom: 4px solid #205A37;
    flex-direction: row;
}


.container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    padding: 1rem;
}

.navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #7FEEFF;
}

.TitleArea {
    display: flex;
    align-items: left;
    flex: auto;
}